{% extends 'base.html' %}

{% block main %}
 <div>
 <h1>Third-party authentication demo</h1>

 <p>
   {% if user and not user.is_anonymous %}
     Hello {{ user.get_full_name|default:user.username }}!
   {% else %}
     <form action="/oauth/register" method="post">
        <label for="login">Login: </label>
        <input id="login" type="text" name="login">
        <label for="password">Password: </label>
        <input id="password" type="password" name="password">
        <label for="email">Email: </label>
        <input id="email" type="email" name="email">
        <input type="submit" value="OK">
    </form>
   {% endif %}
 </p>
 </div>
{% endblock %}